
header {
    text-align: center;
}

button {
    margin: auto;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#map {
    height: 400px;
    width: 700px;
}

.container{
    width:80vw;
}

.photosButton > a{
    color:white;
}

a:hover{
  text-decoration:none;
}

a:link{
  text-decoration:none;
}

a:visited{
    text-decoration:none;
}

a:active{
    text-decoration:none;
}

/*.container{*/
/*}*/

/*.form-group{*/
    /*margin:0 auto;*/
/*}*/

.form-inline{
    width:60vw;
    margin: 0 auto;
}

/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    height: 400px;
    width: 700px;
    margin: 0 auto;
}

thead > tr{
    background-color: #404040;
    color:white;
}

tbody>tr,
.btn-info{
    transition: background-color 0.5s linear 0s, color 0.5s linear 0s;
}


/*.inlineBlock {*/
    /*display:    inline-block;*/
/*}*/

iframe {
    frameborder:    0;
}


.headerContainer {
    background-color: lightgrey;
    width: 100vw;
}
.venueName{
    text-align: center;
}

.venueDetails  {
    text-align: center;
}
.venueDetails ul li {
    list-style-type: none;

}

.container1 {
    display: none;
}
.carousel-inner{
    height: 400px;
    width: 100vw;
}
