
header {
    text-align: center;
}

button {
    margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.container{
     width:80vw;
 }

.photosButton > a{
    color:white;
}

a:hover,
a:link,
a:visited,
a:active{
  text-decoration:none;
  cursor: hand;
}

/*.container{*/
/*}*/

/*.form-group{*/
    /*margin:0 auto;*/
/*}*/

.form-inline{
    width:60vw;
    margin: auto;
}

#map_container{
    width: 80vw;
    height:60vh;
    margin: 0 auto;
    position:relative;
    top: 10vh;
    overflow:hidden;
    border-radius: 5px;
    border:1px solid black;
    box-shadow: 2px 5px 10px #dddddd;
}

/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    width: 80vw;
    height:60vh;
    margin: 0 auto;
    position:relative;
}

thead > tr{
    background-color: #404040;
    color:white;
}

tbody>tr,
.btn-info{
    transition: background-color 0.5s linear 0s, color 0.5s linear 0s;
}

iframe {
    border: 0;
    display: inline-block;
    width:100%;
    height:360px;
}

.table-responsive{
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 2px 5px 10px #dddddd;
}

.panel-default{
    padding:0;
    position:relative;
    top: 15vh;
}

.btn-info {
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
    background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
    background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
    background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
    background-image: -o-linear-gradient(top, #5b5b5b, #282828);
    background-image: linear-gradient(#5b5b5b, #282828);
    border-color: #282828 #282828 hsl(0, 0%, 11%);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

tbody > tr{
    font-weight: 500;
}

td:first-child{
    color: #2c80c2;
    font-size:1.1em;
}

td:first-child:hover{
    color: #143f4e;
    text-decoration:underline;
}

.boldTitle{
    font-weight:900;
}

.lightTitle{
    font-weight:400;
}

/**
*LANDING PAGE DESIGN
*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    min-height:100%;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#image_background{
    margin:0;
    height:100%;
    width:100%;
    position:absolute;
    background-image: url('img/background_image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    z-index:-1;
}


.landing_page_container {
    display: table-cell;
    vertical-align: middle;
}

h1{
    margin:0;
    font-size:4em;
    color:white;
}

h4{
    padding-bottom:3vh;
    color:white;
}

.zipCodeButton{
    transition: background-color 0.5s linear 0s, color 0.5s linear 0s;
}

/* Input Placeholder Transition */
:hover::-webkit-input-placeholder {
    opacity: 0.75;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {
    opacity: 0.75;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

/**
* INFO.HTML STYLING
*/

.headerContainer {
    width: 100vw;
    height:28vh;
}
.venueName > h1{
    text-align: center;
    color:black;
    position:relative;
    font-size:3em;
}

.venueDetails  {
    text-align: center;
    font-size:1.2em;
    position:relative;
    top:4vh;
    color:black;
}
.venueDetails ul li {
    list-style-type: none;
}

.venueDetails ul{
    padding:0;
}

.carousel-inner {
    /*width:100%;*/
    /*height:100%;*/
}

.Container1 {
    height: 50vh;
    width: 70vw;
    margin: 0 auto;
    position: relative;
    top:5vh;
    border-radius: 2vw;
    overflow: hidden;
}

.Container2{
    height: 50vh;
    width: 70vw;
    margin: 0 auto;
    position: relative;
    top:5vh;
    border-radius: 2vw;
    overflow: hidden;
    display: none;
}

/*th {*/
/*border: 1px yellow dotted;*/
/*}*/

.Container2 .twit thead tr th {
    padding:    0.3em;
    margin:     0.3em;
}

.Container2 .twit thead tr th:nth-child(2) {
    text-align:     right;
    padding-right:  1em;
}

.Container2 .twit thead tr th:nth-child(6) {
    padding-left:  1em;
}

.Container2 .twit thead tr th:nth-child(7) {
    padding-right:  4em;
}

.Container3 {
    height: 50vh;
    width: 70vw;
    margin: 0 auto;
    position: relative;
    top:5vh;
    border-radius: 2vw;
    overflow: hidden;
    display:none;
}

.dropdown{
    position:relative;
    top:10vh;

    position:absolute;
    left:0;
    top:0;
}

.dropdown-toggle{
    background-color:black;
    border:none;
    color:white;
}

/*.zipcodeForm {*/
/*display: none;*/
/*}*/