body{
    background-color:#CFD8DC;
}

header {
    text-align: center;
    color:white;
    position:relative;
    bottom:3vh;
}
header p{
    font-size:1.1em;
}

h3{
    font-size:3em;
    margin-bottom:0;
}

button {
    margin: auto;
    transition: box-shadow 0.5s linear 0s, color 0.5s linear 0s;
    box-shadow: 0 0 5px #7a7a7a;
}

button:hover{
    top: -1px;
    box-shadow: 0 0 5px #7a7a7a;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.container{
     width:80vw;
 }

.photosButton > a{
    color:white;
}

/*.container{*/
/*}*/

/*.form-group{*/
    /*margin:0 auto;*/
/*}*/

.form-inline{
    width:60vw;
    margin: auto;
}

#map_container{
    width: 80vw;
    height:60vh;
    margin: 0 auto;
    position:relative;
    top: 10vh;
    overflow:hidden;
    border-radius: 5px;
    border:2px solid #607D8B;;
    box-shadow: 0 2px 10px #607D8B;
}

/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    width: 80vw;
    height:60vh;
    margin: 0 auto;
    position:relative;
}

thead > tr{
    background-color:#607D8B;
    color:white;
}

tbody>tr {
    transition: background-color 0.5s linear 0s, color 0.5s linear 0s;
    background-color:#ECEFF1;
}

iframe {
    border: 0;
    display: inline-block;
    width:100%;
    height:360px;
}

.table-responsive{
    -webkit-border-radius: 5px;
    border:none;
    box-shadow: 0 2px 10px #607D8B;
}

.panel-default{
    padding:0;
    position:relative;
    top: 15vh;
}

.btn-info {
     background-color: #455A64;
     border:none;
 }

.btn-info:hover {
    background-color: #607D8B;
}

.mediaButton {
    color: white;
}

tbody > tr{
    font-weight: 500;
    transition: underline 0.5s linear 0s, color 0.5s linear 0s;
}

a:hover,
a:link,
a:visited,
a:active{
    text-decoration:none;
    cursor: hand;
}

td:first-child{
    color: #607D8B;
    font-size:1.1em;
    transition: underline 0.5s linear 0s, color 0.5s linear 0s;
}

td:first-child:hover{
    color: #143f4e;
}

.boldTitle{
    font-weight:900;
}

.lightTitle{
    font-weight:400;
}

/**
*LANDING PAGE DESIGN
*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    min-height:100%;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#image_background{
    margin:0;
    height:100%;
    width:100%;
    position:fixed;
    background-image: url('img/background_image.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    z-index:-1;
}


.landing_page_container {
    display: table-cell;
    vertical-align: middle;
}

h1{
    margin:0;
    font-size:4em;
    color:white;
}

h4{
    padding-bottom:3vh;
    color:white;
}

.zipCodeButton{
    transition: background-color 0.5s linear 0s, color 0.5s linear 0s;
}

/* Input Placeholder Transition */
:hover::-webkit-input-placeholder {
    opacity: 0.75;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {
    opacity: 0.75;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

/**
* INFO.HTML STYLING
*/

.headerContainer {
    width: 100vw;
    height:28vh;
    padding-top:4vh;
    background-color:#607D8B;
    box-shadow: 0 2px 10px #607D8B;
}
.venueName > h1{
    text-align: center;
    color:white;
    position:relative;
    font-size:3em;
}

.venueDetails  {
    text-align: center;
    font-size:1.2em;
    position:relative;
    top:4vh;
    color:white;
}
.venueDetails ul li {
    list-style-type: none;
    line-height: 4vh;
}

.venueDetails ul{
    padding:0;
}

.Container1 {
    height: 50vh;
    width: 70vw;
    margin: 0 auto;
    position: relative;
    top:11vh;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 8px #7a7a7a;
}

.Container2{
    height: 50vh;
    width: 70vw;
    margin: 0 auto;
    position: relative;
    top:11vh;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    box-shadow: 0 2px 8px #7a7a7a;
}

.Container2 .twit thead tr th {
    padding:    0.3em;
    margin:     0.3em;
}

.Container2 .twit thead tr th:nth-child(2) {
    text-align:     right;
    padding-right:  1em;
}

.Container2 .twit thead tr th:nth-child(6) {
    padding-left:  1em;
}

.Container2 .twit thead tr th:nth-child(7) {
    padding-right:  4em;
}

.Container3 {
    height: 50vh;
    width: 70vw;
    margin: 0 auto;
    position: relative;
    top:11vh;
    border-radius: 5px;
    overflow: hidden;
    display:none;
    box-shadow: 0 2px 8px #7a7a7a;
}

.dropdown{
    /*transition: box-shadow 0.5s linear 0s, color 0.5s linear 0s;*/
    /*margin: 0 auto;*/
    display:inline-block;
}

.dropdown-toggle{
    background-color:#37474F;
    border:none;
    color:white;
    transition: box-shadow 0.5s linear 0s, color 0.5s linear 0s;
    box-shadow: 0 0 5px #7a7a7a;
}

.dropdown-toggle:hover{
    top: -1px;
    box-shadow: 0 0 5px #7a7a7a;
    background-color: #263238;
    color:white;
}

/*.zipcodeForm {*/
/*display: none;*/
/*}*/

.carousel-control.right,
.carousel-control.left,
.carousel-inner {
    border-radius: 10px;
    border: none;
    overflow: hidden;
}

.backButton{
    background-color:#37474F;
    border:none;
    /*transition: box-shadow 0.5s linear 0s, color 0.5s linear 0s;*/
    box-shadow: 0 0 5px #7a7a7a;
    display:inline-block;
}

.backButton:hover{
    /*top: -1px;*/
    /*box-shadow: 0 0 5px #7a7a7a;*/
    /*background-color: #263238;*/
    color:white;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {

    #map_container{
        position:relative;
        top:7vh;
        height:40vh;
    }

    .headerContainer {
        height:45vh;
    }

    .backButton,
    .dropdown-toggle{
        position:relative;
        top:5vh;
        width:40vw;
    }

    .Container1,
    .Container2,
    .Container3{
        height:18vh;
        position:relative;
        top:18vh;
    }
}