
header {
    text-align: center;
}

button {
    margin: auto;
}

.container{
    width:80vw;
}

.photosButton > a{
    color:white;
}

a:hover{
  text-decoration:none;
}

a:link{
  text-decoration:none;
}

a:visited{
    text-decoration:none;
}

a:active{
    text-decoration:none;
}

/*.container{*/
/*}*/

/*.form-group{*/
    /*margin:0 auto;*/
/*}*/

.form-inline{
    width:60vw;
    margin: 0 auto;
}

/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    height: 400px;
    width: 700px;
    margin: 0 auto;
}

thead > tr{
    background-color: #404040;
    color:white;
}

tbody>tr,
.btn-info{
    transition: background-color 0.5s linear 0s, color 0.5s linear 0s;
}


/*.inlineBlock {*/
    /*display:    inline-block;*/
/*}*/

iframe {
    frameborder:    0;
}

